main {
  margin-top: 6rem;
  min-height: 70vh;
}

// coockie bar
.cookie__content {
  @media screen and(min-width: 1024px) {
    display: flex;
  }

  a {
    min-width: 78px;
    color: inherit;
    font-size: 13px;
    margin-left: 5px;
  }
}
