.about {
  // margin-top: 10rem !important;
}

.about_details {
  max-width: 600px;
  margin: 5rem auto 0;
}

.about__contact {
}

.about__contact__mail {
  display: flex;
  margin-bottom: 2rem;

  p {
    margin-left: 5px !important;
  }
}
