.albumPage__banner {
  width: fit-content;
  min-width: 1000px;
  margin: 0 auto 5rem;
}

.album__form {
  margin-bottom: 5rem;
}

.albumPage__addPhotoBtn {
  margin-bottom: 5rem !important;
}

.albumPage__publishAlbumBtn {
  margin-left: 1rem !important;
  margin-bottom: 5rem !important;
}
