// colors
$pantone: #08a045;
$bottle-green: #0b6e4f;
$pastel-green: #7ae582;
$gray: #75758b;
$light-gray: #ddd;
$danger: #ff0000;

$primary-color: $pantone;
$primary-accent-color: $bottle-green;
